@font-face {
    font-family: 'CeraRoundProBold';
    src: url('./fonts/FontsFree-Net-Cera-Round-Pro3.ttf');
}
*{
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
}
body{
    margin: 0;
    box-sizing: border-box;
    background-image: url(./img/Ellipse.svg);
    background-size: auto, auto;
    background-repeat: no-repeat;
}
.logo{
    padding: 0;
    width: 25vw;
    margin-top: 3.3vh;
    margin-left: 3.5vw;
}
.logo img{
    width: 100%;
    height: 100%;
}
div.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 78.5vw;
    margin: auto;
}
.centreimg{
    width: 42.5vw;
    margin: 1.5%;
}
.introduction{
    padding: 3%;
}
.introduction .text{
    padding: 3%;
}
.introduction h2{
    color: #0F2A5A;
    font-family: 'CeraRoundProBold';
    font-size: 28px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.02em;
    margin-bottom: 1.5%;
}
.introduction h3, .introduction p{
    color: #28313F;
    letter-spacing: -0.01em;
    line-height: 22px;
    mix-blend-mode: normal;

}
.introduction .demoimg{
    width: 100%;
    margin: auto;
}
@media screen and (max-width:600px){
    
}